<div class="row wide" style="margin-left: 6%">

    <div class="card text-white mb-3 col col-3 card-style card-1" style="background-color: #205e3b">
        <div class="card-body text-center">
            <h5 class="card-title">Total Orders</h5>
            <h5 class="card-text">{{ total_orders }}</h5>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card text-white mb-3 col col-3 card-style card-2" style="background-color: #246e44">
        <div class="card-body text-center">
            <h5 class="card-title">Orders Delivered</h5>
            <h5 class="card-text">{{ delivered }}</h5>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="card text-white mb-3 col col-3 card-style card-3" style="background-color: #287a4b">
        <div class="card-body text-center">
            <h5 class="card-title">Orders Pending</h5>
            <h5 class="card-text">{{ pending }}</h5>
        </div>
    </div>

</div>